
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.my-element {
    background-image: url('./assets/img/header.jpg' ), linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-position: righ;
    background-size: auto;
  }